*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background: #eee9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-weight: 500;
}

.sudoku {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    border-radius: 4px solid #000000;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: 2px solid #1d1a1a;;
}

table tr:nth-child(3n) td,
table tr:nth-child(3n+3) td {
    border-bottom: 2px solid #000;
}
table td:nth-child(3n) {
    border-right: 2px solid #000;;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #039be5;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #0056b3;
}

.solved{
    background-color: #9ccc65;
    transition: all 0.3s ease-in-out;
}